
<div id="userEditDlg" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="headerEdit">Добавить пользователя</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                        <input type="hidden" id="userIdDlg">

                        <div class="form-group">
                            <label for="userNameDlg" class="col-md-3 control-label">Имя</label>
                            <div class="col-md-7">
                                <input type="text" id="userNameDlg" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="userEmailDlg" class="col-md-3 control-label">E-mail</label>
                            <div class="col-md-7">
                                <input type="email" id="userEmailDlg" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="userPasswordDlg" class="col-md-3 control-label">Пароль</label>
                            <div class="col-md-7">
                                <input type="password" id="userPasswordDlg" class="form-control" data-toggle="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="userPhoneDlg" class="col-md-3 control-label">Телефон</label>
                            <div class="col-md-7">
                                <input type="tel" id="userPhoneDlg" class="form-control">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button id="btnUserSaveDlg" data-dismiss="modal" class="btn btn-primary" type="button" >Сохранить</button>
                            <!--<button id="btnUserSaveDlg" data-dismiss="modal" class="btn btn-primary">Сохранить</button>-->
                            <button id="btnUserCancelDlg" data-dismiss="modal" class="btn btn-default" aria-hidden="true">Отмена</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>